@import "/Fonts.css" all;
@font-face{
    font-family:"Poppins";
    src:url("D:/Muholzoev/2021/PIK-Ka_1/UI/HTML/Fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
a{
    text-decoration: none;
}
body{
    margin:0px;
    margin-right:0px;
    background-color:#eaf1f7;
}
.header{
    background-color:#242939;
    height:70px;
    margin-top:0px;
    position: relative;
}
.menu{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    text-align:center
}
.header A{
    font-family:Poppins;
    padding:27px;
    font-size: 15px;
    display: table-cell;
    color: #ffffff;
}
.header A:hover{
    background-color:#0099CC;
}